@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-card-bg: var(--card-bg);
  --color-border: var(--border);
}

:root {
  --background: #FFE2E2;
  --foreground: #331f24; /* A dark color for text to ensure readability on FFE2E2 */
  --accent: #FF80C7;
  --card-bg: #F5CBCB;
  --border: #C5B3D3;
}

:root.dark {
  --background: #3A0519;
  --foreground: #EF88AD;
  --accent: #EF88AD;
  --card-bg: #670D2F;
  --border: #A53860;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--foreground);
  color: var(--background);
}

/* Custom scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}
